.fullPost {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;

  @media screen and (max-width: 980px) {
    display: block;;
  }
}

.fullPostContent {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F5;
  border-radius: 30px;

  @media screen and (max-width: 980px) {
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    height: 500px;
  }
}

.textBlock {
  max-width: 80%;

  @media screen and (max-width: 980px) {
    max-width: 100%;
  }
}

.postTitle {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #163E5C;
}

.postDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  color: #163E5C;
}

.postLink {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #163E5C;
}

.fullPostImage {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 980px) {
    display: none;
  }
}