.post {
  border-radius: 30px;
  overflow: hidden;
  position: relative;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.postImage {
  aspect-ratio: 1/1;

  @media screen and (max-width: 1440px){
    aspect-ratio: 4/5;
  }

  @media screen and (max-width: 768px) {
    aspect-ratio: unset;
    height: 500px;
  }

  img {
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 33px 33px 0 0;
  }
}

.postContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1440px){
    height: 60%;
  }

  @media screen and (max-width: 980px){
    height: 50%;
  }
}

.postTitle {
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 30px */
text-transform: uppercase;
}

.postDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.postLink {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}