.description {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  height: 100vh;

  @media screen and (max-width: 500px) {
    height: 80vh;
  }
}

.decor {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.descriptionAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

.descriptionTop {
  margin-bottom: 40px;
}

.descriptionText {
  font-weight: 400;
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  line-height: 120%;
  text-align: center;
  color: #163e5c;
}

.descriptionBig {
  font-weight: 400;
  font-size: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
  line-height: 1;
  text-align: center;
  color: #163e5c;
}