// RequestCards.module.scss
.requestsCards {
  .requestsContainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2.5rem;
    position: relative;
  }

  .imageContainer {
    flex: 1;
    margin-bottom: 80px;
    position: sticky;
    top: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .cardsScrollContainer {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 440px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 768px) {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      height: auto;
    }
  }

  .cardContent {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 40px;
    border-radius: 40px;
    margin-right: 15px;
    // height: 600px;
    margin-bottom: 20px;
    position: sticky; // Добавьте это свойство
    top: 0; // И это свойство
    z-index: 1;
    transform: translateY(0);

    @media screen and (max-width: 768px) {
      height: auto;
      min-width: 500px;
      margin-right: 20px;
    }

    @media screen and (max-width: 500px) {
      min-width: 100%;
    }
  }
}
