@tailwind base;
@tailwind components;
@tailwind utilities;

.h2-main {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  line-height: 120%;
  text-transform: uppercase;
  color: #163e5c;

  @media screen and (max-width: 768px){
    margin-bottom: 1.25rem;
  }
}

.container {
  max-width: 1520px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    max-width: 1280px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1140px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0 40px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
}

.container-short {
  /* max-width: 40%; */
  width: 600px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 650px) {
    width: 100%;
    padding: 0 20px;
  }
}

.container-middle {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (max-width: 1100px) {
    max-width: 100%;
    padding: 0 20px;
  }
}
.swiperModalPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}

.swiperModalNext {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  white-space: normal;
  gap: 20px;

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}