.edu {
  padding-top: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
  padding-bottom: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
  background-color: #f0edea;
  border-radius: 40px;
}

.title {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  line-height: 120%;
  text-transform: uppercase;
  color: #163e5c;
  margin-bottom: 40px;

  @media screen and (max-width: 768px){
    margin-bottom: 1.25rem;
  }
}

.eduBullets {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
  margin-bottom: clamp(4.375rem, 2.557rem + 9.09vw, 9.375rem);

  @media screen and (max-width: 900px){
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.small {
  @media screen and (min-width: 900px){
    grid-column-end: span 2;
  }
}

.medium {
  @media screen and (min-width: 900px){
    grid-column-end: span 3;
  }
}

.large {
  @media screen and (min-width: 900px){
    grid-column-end: span 4;
  }
}

.inherit {
  background-color: inherit;
  border: 1px solid #163e5c;
}

.yellow {
  background-color: #f1be54;
  border: 1px solid #f1be54;
}

.gray {
  background-color: #d0c6be;
  border: 1px solid #d0c6be;
}

.eduBullet {
  border-radius: 20px;
  padding: 30px;
  min-height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; // Включает перенос элементов flex
  overflow: hidden; // Предотвращает выход содержимого за пределы
  min-width: 100%; // Гарантирует, что элемент займет как минимум полную ширину на меньших экранах
  max-width: 100%; // Гарантирует, что элемент не превысит ширину контейнера
}

.eduBulletTitle {
  font-weight: 600;
  font-size: clamp(1rem, 0.795rem + 1.02vw, 1.563rem);
  line-height: 120%;
  text-transform: uppercase;
  color: #163e5c;

  @media screen and (max-width: 375px){
    margin-bottom: 40px;
  }
}

.bulletDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #163e5c;
}

.eduGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  white-space: normal;
  margin-bottom: clamp(3.125rem, 1.307rem + 9.09vw, 8.125rem);

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}

.degreeTitle {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  line-height: 120%;
  text-transform: uppercase;
  color: #163e5c;
  margin-bottom: 40px;

  @media screen and (max-width: 768px){
    margin-bottom: 1.25rem;
  }
}

.degreeBullets {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.degreeBullet {
  border: 1px solid #163e5c;
  border-radius: 100px;
  padding: 5px 10px;
  width: fit-content;
}

.degreeBulletTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #163e5c;

  @media screen and (max-width: 768px){
    font-size: 16px;
  }

  @media screen and (max-width: 480px){
    font-size: 14px;
  }
}